//import varibles
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');
$font-family: 'Playpen Sans', cursive;


*{
    padding: 0px;
    margin: 0px;
    font-family: $font-family;
}