$measure: 600px;
$background-one: #4693FA;
$background-two: #B4CCFA;

.greeting{
    border:10px $background-one solid;
    background: $background-one;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.language{
    border: 10px $background-one solid;
    background: $background-one;
    height: 100px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $background-two;
    height: $measure;
}
.about div{
    width: 50%;
}
.project{
    border: 10px $background-one solid;
    background: $background-one;
    height: $measure;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    background: $background-one;
}
.cards .card{
    flex: 0 1 390px;
    margin: 20px;
    cursor: pointer;
}
.studies{
    border: 10px $background-two solid;
    background: $background-two;
    display: grid;
    place-items: center;
    height: $measure;
}
.text{
    width: 700px;
}
.testimonial{
    border: 10px $background-one solid;
    background: $background-one;
    display: grid;
    place-items: center;
    height: $measure;
}