$measure: 600px;
$background-one: #ffffff;
$background-two: #2267fd;

.greeting{
    height: 50rem;
    display: flex;
    .imgfondo{
        opacity: 0.7;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    h1{
        position: absolute;
        top: 30%;
        left: 30%;
        word-spacing: 3.5px;
        font-weight: bolder;
        background: #2267fd;
        background: -webkit-linear-gradient(to right, #2267fd, #9932cc);
        background: linear-gradient(to right, #2267fd, #9932cc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 50px;
    }

    .mini{
        position: absolute;
        top: 50%;
        left: 45%;
    }

}
.language{
    background: $background-one;
    padding: 5% 5% 5% 5%;
    height: max-content;
    cursor: pointer;
    display: block;
}
.about{
    background: $background-two;
    height: 45rem;
    margin-bottom: 10%;
    border: 1px solid black;
    display: grid;
}
.about-me{
    text-align: justify;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        width: 50%;
    }
    h1{
        text-align: center;
    }
}

.about-img{
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img img{
    border-radius: 5px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
}
.about-img img:hover {
    width: 200px;
    height: 200px;
    border: 8px solid white;
    rotate: 360deg;
  }

.project{
    background: $background-one;
    height: max-content;
}
.project h1{
    text-align: center;
    margin-bottom: 5%;
    color: black;
}
.cards{   
    background: $background-one;
    padding: 15% 15% 15% 15%;
}
.card{
    width: 80%;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 15%;
}
.card img{
    width: 50%;
    height: 80%;
    border-radius: 5px;;
}
.cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(14, 57, 250, 0.2);
}
.studies{
    text-align: justify;
    background: $background-two;
    place-items: center;
    height: min-content;
    padding: 10%;
}
.studies h1{
    text-align: center;
}
.practices{
    background: $background-one;
    padding: 10%;
    text-align: justify;
    place-items: center;
    height: max-content;
}
.practices h1{
    text-align: center;
}

@media(min-width: 800px){
    .greeting{
        height: 50rem;
        display: flex;
        .imgfondo{
            opacity: 0.7;
            height: 100%;
            width: 100%;
            margin: 0;
        }
    
        h1{
            position: absolute;
            top: 30%;
            left: 30%;
            word-spacing: 3.5px;
            font-weight: bolder;
            background: #2267fd;
            background: -webkit-linear-gradient(to right, #2267fd, #9932cc);
            background: linear-gradient(to right, #2267fd, #9932cc);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 50px;
        }
    
        .mini{
            position: absolute;
            top: 50%;
            left: 45%;
        }
    
    }
    .language{
        background: $background-one;
        padding: 5% 5% 5% 5%;
        height: max-content;
        cursor: pointer;
        display: block;
    }
    .about{
        display: grid;
        grid-template-columns:repeat(2, 3fr);
        background: linear-gradient(to bottom right, #2267fd, #b6cdfe);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }    
    .about-me{
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        p{
            width: 70%;
            font-size: larger;
            font-family: Arial, Helvetica, sans-serif;
            word-spacing: 3.5px;
        }

        h1{
            text-align: center;
        }
    }
    .about-img{
        grid-column: 1;
        grid-row: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img img{
        width: 18rem;
        height: 20rem;
        transition:
        width 2s,
        height 2s,
        background-color 2s,
        rotate 2s;
        box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .about-img img:hover {
        width: 200px;
        height: 200px;
        border: 8px solid white;
        rotate: 360deg;
      }
    .project{
        background: $background-one;
        height: max-content;
    }
    .tittle{
        width: 100%;
    }
    .cards{
        display: flex;
        flex-direction: row; 
        background: $background-one;
        padding: 10% 10% 10% 10%;
        justify-content: space-around;
    }
    .card{
        width: 30%;
        height: max-content;
        border-radius: 10%;
        margin-bottom: 15%;
    }
    .card a{        
        text-align: center;
        width: 100%;
        height: 100px;
        border-radius: 10%;
        margin: 5% 5% 5% 5%;
    }
    .card h1{
        color: #2267fd;
    }
    .cards .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(14, 57, 250, 0.2);
    }
    .card img{
        width: 100%;
        height: 300px;
        border-radius: 10% 10% 0% 0%;
    }
    .studies{
        background: $background-two;
        display: grid;
        place-items: center;
        height: max-content;
    }
    .text{
        width: 700px;
    }
    .practices{
        background: $background-one;
        display: grid;
        place-items: center;
        height: max-content;
    }
}
