//html
footer{
    background: #2267fd;
    border: 1px solid #2267fd;
}
.box{
    text-align: center;
    height: max-content;
    margin: 2%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    a{
        text-decoration-line: underline;
    }
}