//import scss of components
nav{
    display: flex;
    height: 4.5rem;
    background-color: #2267fd;
    justify-content: space-around;
    align-items: center;
}

.routers{
    width: 70%;
    a{
        margin-left: 2%;
        text-decoration-line: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: large;
    
        &.router-link-exact-active {
            color: #7e00b4;
          }
    }
}
.botones{
    width: 50%;
    button{
        background-color: #2267fd;
        color: #ffffff;
        cursor: pointer;
        width: 10%;
        border: none;
    }
}
