//import scss of components
nav{
    display: flex;
    height: 4.5rem;
    background-color: #320035;
    justify-content: space-around;
    align-items: center;
}



.routers{
    width: 30%;
    h5{
        // margin-left: 2%;
        // text-decoration-line: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: large;
    
        // &.router-link-exact-active {
        //     color: #7e00b4;
        //   }
    }
}
.botones{
    width: 10%;
    button{
        background-color: #320035;
        color: #ffffff;
        cursor: pointer;
        width: 100%;
        border: none;
        img{
        width: 20%;
        }
    }
}
