//import scss of components
nav{
    display: flex;
    height: 4.5rem;
    background-color: #2267fd;
    justify-content: center;
    align-items: flex-end;
}
a{
    margin-left: 30px;
    margin-bottom: 15px;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;

    &.router-link-exact-active {
        color: #7e00b4;
      }
}
