.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
}
form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2%;
    box-shadow: 9px 9px 9px 9px #79a3ff;
}
.forms form{
    width: 25%;
    padding: 2%;
}
form label{
    text-align: start;
}
form input{
    border-radius: 5%;
    border-style: outset;
}
form button{
    width: 30%;
    margin-top: 5%;
    border: 3px rgb(48, 96, 255) solid;
    background-color: #4693FA;
    border-radius: 10px;
    cursor: pointer;
}